In [ ]:
import pandas as pd
import sqlite3

# CSV dosyasÄ±nÄ± oku
df = pd.read_csv('application_train.csv')

# SQLite veritabanÄ±na baÄŸlan (yoksa oluÅŸturur)
conn = sqlite3.connect('home_credit_db.sqlite')

# Veriyi SQL tablosuna yaz
df.to_sql('train_data', conn, if_exists='replace', index=False)

print("Veri baÅŸarÄ±yla SQL ortamÄ±na yÃ¼klendi! ðŸš€")

In [ ]:
%load_ext sql
%sql sqlite:///home_credit_db.sqlite

In [ ]:
%%sql
SELECT
    COUNT(*) AS toplam_basvuru_sayisi,
    SUM(TARGET) AS temerrude_dusen_sayisi,
    ROUND(AVG(TARGET) * 100, 2) AS temerrut_orani_yuzde
FROM
    train_data;